{% extends 'meme_creator/page.html' %}

{% load humanize %}

{% block page__content %}
  {% if memes %}
    <div class="card-columns">
      {% for meme in memes %}
        <a>
          <div class="card">
            <img class="card-img-top meme-img" src="{{ meme.url }}" alt="Meme image">
            <div class="card-footer text-muted">
              Created {{ meme.creation_time|naturaltime }}
            </div>
          </div>
        </a>
      {% empty %}
    {% endfor %}
  </div>
  {% else %}
    <p class="text-center">You haven't created any memes yet! Create one <a href="{% url 'meme:choose' %}">here</a>.</p>
  {% endif %}
{% endblock %}