{% extends 'meme_creator/page.html' %}

{% load bootstrap4 %}

{% block page__content %}
  <div class="row">
    <div class="offset-3 col-6">  
      <form action=".?{{ request.GET.urlencode }}" method="post" enctype="multipart/form-data" class="form" id="form">
        {% csrf_token %}

        {% block form__fields %}
          {% bootstrap_form form %}
        {% endblock %}

        {% block form__content_before_buttons %}
        {% endblock %}

        <button type="submit" class="btn btn-lg btn-primary mt-3" id="form-submit">
          {% block form__submit_title %}
            Submit
          {% endblock %}
        </button>
      </form>
    </div>
  </div>
{% endblock %}
