{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <!-- These meta tags come first. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block page__head_title %}{{ settings.PROJECT_NAME }}{% endblock %}</title>

    <script src="{% static 'meme_creator/jquery.min.js' %}"></script>
    <script src="{% static 'meme_creator/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'meme_creator/bootstrap.min.css' %}"></link>
  </head>

  <body class="{% block page__body_class %}{% endblock %}">
    <div class="page-alert">
      {% block page__messages %}
        {% bootstrap_messages %}
      {% endblock %}
    </div>

    <div class="container">
      {% block page__nav %}
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
          <a class="navbar-brand" href="{% url 'home' %}">Meme Creator</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'meme:choose' %}">Create Meme</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'user:logout' %}">Log Out</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </nav>
      {% endblock %}
    </div>

    {% block page %}
      <div class="container page-content {% block page__container_class %}{% endblock %}">
        <h2 class="text-center">{% block page__title %}{% endblock %}</h2>
        {% block page__content %}
        {% endblock %}
      </div>
    {% endblock %}
  </body>
</html>
