//
// Nav header
//

.nav {
  > .nav-header {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
    font-size: 85%;
    font-weight: normal;
    letter-spacing: 1px;
    color: $nav-header-color; // lighten(@gray, 35%);
    text-transform: uppercase;
  }

  > li + .nav-header {
    margin-top: 20px;
  }
}

.nav-title {
  @include media-breakpoint-only(xs) {
    max-width: 275px;
  }
  @include media-breakpoint-only(sm) {
    max-width: 475px;
  }
  @include media-breakpoint-only(md) {
    max-width: 675px;
  }
  @include media-breakpoint-only(lg) {
    max-width: 875px;
  }
  @include media-breakpoint-only(xl) {
    max-width: 1075px;
  }
}
